name: SmartQuail Docker Build Apps QND41

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
 
jobs:
  Docker_dovecot_container_build:
    runs-on: ubuntu-latest
    env:
      DOMAIN: smartquail.io
      HOSTNAME: mail.smartquail.io
    steps:
    - name: Checkout code
      uses: actions/checkout@v3 
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    - name: Build container image
      working-directory: ./qnddovecot
      run: | 
        docker build -f Dockerfile \
            -t smartquail/qnddovecot200:latest \
            -t smartquail/qnddovecot200:${GITHUB_SHA::2}-${GITHUB_RUN_ID::2} \
            .
    - name: Push Image
      run: | 
        docker push smartquail/qnddovecot200 --all-tags

  Docker_dovecot_container_build_2:
    runs-on: ubuntu-latest
    env:
      DOMAIN: smartquail.io
      HOSTNAME: imap.smartquail.io
    steps:
    - name: Checkout code
      uses: actions/checkout@v3 
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    - name: Build container image
      working-directory: ./qnddovecot2
      run: | 
        docker build -f Dockerfile \
            -t smartquail/qnddovecot300:latest \
            -t smartquail/qnddovecot300:${GITHUB_SHA::2}-${GITHUB_RUN_ID::2} \
            .
    - name: Push Image
      run: | 
        docker push smartquail/qnddovecot300 --all-tags

  Docker_postfix_container_build:
    runs-on: ubuntu-latest
    env:
      DOMAIN: smartquail.io
      HOSTNAME: mail.smartquail.io
    steps:
    - name: Checkout code
      uses: actions/checkout@v3 
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    - name: Build container image
      working-directory: ./qndpostfix
      run: | 
        docker build -f Dockerfile \
            -t smartquail/qndpostfix200:latest \
            -t smartquail/qndpostfix200:${GITHUB_SHA::2}-${GITHUB_RUN_ID::2} \
            .
    - name: Push Image
      run: | 
        docker push smartquail/qndpostfix200 --all-tags

  Docker_postfixadmin_container_build:
    runs-on: ubuntu-latest
    env:
      DOMAIN: smartquail.io
      HOSTNAME: mail.smartquail.io
    steps:
    - name: Checkout code
      uses: actions/checkout@v3 
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    - name: Build container image
      working-directory: ./qndpostfixadmin
      run: | 
        docker build -f Dockerfile \
            -t smartquail/qndpostfixadmin200:latest \
            -t smartquail/qndpostfixadmin200:${GITHUB_SHA::2}-${GITHUB_RUN_ID::2} \
            .
    - name: Push Image
      run: | 
        docker push smartquail/qndpostfixadmin200 --all-tags
   
   

       

   
